main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

fieldset, .labels {
    margin: 0;
    padding: 0.2rem 0;
    border: none;
    display: grid;
    grid-template-columns: 10rem auto;
    gap: 0.2rem;
}

button {
    margin-top: 0.5rem;
}

form {
    margin-bottom: 1rem;
}

p {
    margin: 0.2rem 0;
}

textarea {
    width: 100%;
}
